<?xml version="1.0" encoding="utf-8"?><!--
  ~  Copyright (C) 2013 - 2018, Haoqing Deng <dhq.sunny@gmail.com>
  ~
  ~  This file is part of the SYSU UEMS.
  ~
  ~  SYSU UEMS is free software; you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation; either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  SYSU UEMS is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with SYSU UEMS; see the file COPYING. If not, see
  ~  <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denghaoqing.sysu">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".CAS.CASAuthActivity"
            android:label="@string/title_activity_casauth" />

        <service
            android:name=".CAS.AuthKeepAliveService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ViewCourseDetails"
            android:label="@string/title_activity_view_course_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataFetchUI"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddMemoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.denghaoqing.sysu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".ViewMemoActivity"
            android:label="@string/title_activity_view_memo"
            android:theme="@style/MemoTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Updater"
            android:label="@string/title_activity_updater"
            android:theme="@style/MemoTheme" />

        <receiver
            android:name=".Utils.UpdateDownloadBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoursePlanListActivity"
            android:label="@string/title_activity_course_plan_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Service.WearService">
            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>